form.form-horizontal{
    margin-top: 2rem;
}
@media (min-width: 768px){}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: center;
}
.contain{
    padding-left: 2rem;
    padding-right: 2rem;
}