form.form-horizontal{
    margin-top: 2rem;
}
@media (min-width: 768px){}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: center;
    
}
.contain{
    padding-left: 2rem;
    padding-right: 2rem;
}
.car_item_small_img{
    margin-top: 2rem;
}
.box{
    height: 11rem;
    overflow: hidden;
    position: relative;
}
.car_item_small_img_img{
    margin-top: 2rem;
    width: 100%;
}
#nextview,#nextview1,#nextview2,#nextview3{
    margin-top: 10px;
    display: inline-block;
    text-align: center;
}
.imgShow{
    display: flex;
    align-items: center;
    justify-content: center;
}